# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
out/

# =========================
# Gradle
# =========================
.gradle/
build/

# =========================
# Logs
# =========================
*.log

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Environment / Secret
# =========================
.env
.env.*
application-local.yml
application-secret.yml

# =========================
# Spring Boot
# =========================
*.pid
*.pid.lock

# =========================
# OS Temp Files
# =========================
Thumbs.db